.App {
    width: 70vw;
    margin: auto;
    font-family: 'Dosis', sans-serif;
}

.App h1 {
    margin: 20px;
   text-align: center;
   color: lightcoral;
   font-size: 700;
}

.App ul {
    background-color: lightblue;
    list-style: none;
    border: 1px solid gray;
}

.App li {
    margin: 5px;
    display: flex;
}

.App li div {
    margin: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}